.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    background-color: var(--gray-100);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Lack';
    font-size: 1.75rem;
    z-index: 500;
    transition: all .3s;
    outline: 2px solid var(--black);
}

.navbar__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: var(--navbar-height);
    top: calc((100vh) * -1);
    left: 0;
    right: 0;
    height: calc(100vh - var(--navbar-height));
    background-color: var(--gray-100);
    align-items: center;
    box-sizing: border-box;
    font-family: 'Lack';
    font-size: 1.75rem;
    z-index: 400;
    transition: all .4s;
    outline: 2px solid var(--black);
}

.navbar__open {
    top: 0;
}

.a {
    text-decoration: none;
    color: var(--black);
    border-bottom: 2px solid var(--black);
    width: 100vw;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0rem;
    height: 100%;
    font-size: clamp(2.5rem, -1.538rem + 16.154vw, 13rem);
    transition: letter-spacing 0.1s ease-in-out;
}

.a:hover {
    letter-spacing: 3rem;
    transition: letter-spacing 0.1s ease-in-out;
}

.b {
    height: 100%;
    padding: 0;
    margin: 0;
}



.navbar__button,
.navbar__button_text,
.navbar__last_button_wrap,
.navbar__last_button_text {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    max-height: 100%;

}

.navbar__last_button_wrap,
.navbar__button {
    display: flex;
    padding: 2.5rem 2rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--black);
    cursor: pointer;
    position: relative;
    color: transparent;
    overflow: hidden;
    height: 0;

}

.navbar__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--pink-300);
    z-index: -4;
    transition: width 0.2s ease-in-out;
}

.navbar__button_text,
.navbar__last_button_text {
    color: var(--black);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    gap: 4rem;
}

.navbar__button:hover::before {
    transition: width 0.2s ease-in-out;
    width: 100%;
}

.navbar__last_button_wrap {
    background-color: var(--white);
}

.navbar__last_button_wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--pink-300);
    z-index: 1;
    transition: width 0.2s ease-in-out;
}

.navbar__last_button_text {
    position: absolute;
    color: var(--white);
    background-color: var(--black);
    mix-blend-mode: multiply;
    z-index: 2;
    white-space: nowrap;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    width: 400%;

}

.navbar__last_button_wrap:hover::before {
    transition: width 0.2s ease-in-out;
    width: 100%;
}

.navbar__button:hover .navbar__button_text {
    animation: RightToLeft 1s infinite linear;
}

.navbar__last_button_wrap:hover .navbar__last_button_text {
    animation: RightToLeft_signup 1s infinite linear;
}

//WokVault name in navbar

.navbar__title {
    padding-left: 1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    font-family: 'Lack Line';
}

.navbar__char {
    color: var(--black);
    font-size: 4rem;
    padding: 0;
    margin: 0;
    display: block;
    transition: all .3s;
}

@media only screen and (max-width: 600px) {
    .navbar__char {
        font-size: 3rem;
    }
}

[aria-hidden="true"] {
    font-family: 'Lack';
}

[aria-hidden="true"]:hover {
    font-family: 'Lack Line';
}

[aria-hidden="false"]:hover {
    font-family: 'Lack';
}

.navbar__title::after {
    content: "";
    position: absolute;
    bottom: 0.75rem;
    left: -105%;
    width: 105%;
    height: 0.5rem;
    background-color: var(--black);
    transition: left 0.2s ease-in-out;
}

.navbar__title:hover::after {
    transition: left 0.2s ease-in-out;
    left: 0%;
}

@keyframes RightToLeft {
    0% {
        transform: translate(50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes RightToLeft_signup {
    0% {
        transform: translate(0%, -50%);
    }

    100% {
        transform: translate(-25%, -50%);
    }
}